@page "/documentos"
@inject IDocumentosViewModel documentosServices

<h3>Documentos</h3>

@code{
    protected override Task OnInitializedAsync()
    {
        
        return base.OnInitializedAsync();
    }
}
